
/* 1. Part - a) Main containers */
/*           b) Main containers' text content */
/*           c) Main containers' other elements */


/* 2. Part - a) Supplementary containers */
/*           b) Supplementary containers' text content */
/*           c) Supplementary containers' other elements */






/*  ---------------------------            1. a) Main containers             -------------------------------  */

.administracija {
    margin: 0 ;
    padding-left: 0px;
}



.administracija-box-main {
    float: left;
    width: 100%;
    background:  AliceBlue;

    margin: 5px 20px 20px 10px;  /* top right bottom left */
    
}

.administracija-box-container { 
    width: 100%; 
    margin-right: 5px;
    margin-top: 0px;
    padding: 0px;
    
}

.administracija-box-1 {
    float: left;
    width: 100%;
    height: auto; /* only for demonstration, should be removed */
    background:  AliceBlue;
    padding: 10px;
    
    border-bottom: 1.5px solid rgb(230, 238, 245);

    margin: 0px 20px 20px 0px;  /* top right bottom left */
  
}



.administracija-box-1-center {
    float: left;
    width: 100%;
    height: auto; /* only for demonstration, should be removed */
    background:  AliceBlue;
    padding: 10px;
    border-bottom: 1.5px solid rgb(230, 238, 245);
    align-items: center;

    
    margin: 0px 20px 20px 0px;  /* top right bottom left */
  
}

.administracija-box-1:last-child {
    border-bottom: none;
  
}




















/*  ---------------------------            1. b) Main containers's text content             -------------------------------  */


.administracija h1 {
  color: rgb(73, 80, 83);
  font-size: 30px;
  font-weight: bold;

  margin: 50px 10px 30px 20px;  /* top right bottom left */
}

.administracija h3 {
    color: rgb(73, 80, 83);
    font-size: 20px;
    font-weight: bold;

    margin: 30px 10px 30px 10px;  /* top right bottom left */
}

.administracija h4 {
    color: rgb(73, 80, 83);
    font-size: 20px;
    
    margin: 50px 10px 10px 10px;  /* top right bottom left */
}






.administracija-box-1 h4{
    color: rgb(77, 77, 82);
    font-size: 17px;
    
    /*font-weight: bold;*/
}














/*  ---------------------------            1. c) Main containers's other elements             -------------------------------  */


.administracija-box-1 label {

    display: block;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 5px; 
    
}

.administracija-box-1 input {
    margin-left: 20px;
   
      
}













/*  ----------------------------------------------------------------------------------------------------------------  */
/*  ----------------------------------------------------------------------------------------------------------------  */
/*  ----------------------------------------------------------------------------------------------------------------  */
/*  ----------------------------------------------------------------------------------------------------------------  */
/*  ----------------------------------------------------------------------------------------------------------------  */













/*  ---------------------------            2. a) Supplementary containers             -------------------------------  */


.administracija-container-for-2  {
    margin: 0;
    width: 100%;
    display: flex;
    
     
}


@media (max-width: 750px) {
    .administracija-container-for-2  {
      justify-content: flex-start;
      flex-wrap: wrap;
      flex-basis: 100%;
    }
}



.administracija-table  {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;   
}



.administracija-box-4items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background:  AliceBlue;
    padding-left: 10px;

    margin: 0px 20px 10px 20px;  /* top right bottom left */  
}


.administracija-box-4items-items {
    box-sizing: border-box;
    flex-basis: calc(25% - 25px); 
    height: 150px;
    background:  AliceBlue;
    padding: 10px;
    border-right: 1.5px solid rgb(230, 238, 245);
    border-left: 1.5px solid rgb(230, 238, 245);

    margin: 0px 20px 0px 0px;  /* top right bottom left */
}



.administracija-box-1-comment {
    opacity: 0.5;
    margin: 0px 20px 0px 48px;  /* top right bottom left */ 
}


.administracija-box-1-datepicker {
    float: left;
    width: 100%;
    height: auto; /* only for demonstration, should be removed */
    background:  AliceBlue;
    padding-left: 40px;

    margin: 0px 20px 20px 30px;  /* top right bottom left */
    
  
}

.administracija-box-1-product-infolist {
    margin-left: 20px;  
}



.administracija-box-1-cond {
    margin-left: 10px;
   
      
}

.success-message{
    margin-left: 50px;
    color: rgb(110, 118, 122);
    font-size: 1rem;
    

}

.error-message{
    margin-left: 50px;
    color: rgb(248, 73, 73);
    font-size: 1rem;

}


.administracija-box-2 {
    float: left;
    width: 100%;
    height: auto; 
    background:  AliceBlue;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.administracija-box-2-h1 {
    color: rgb(73, 80, 83);
    font-size: 30px;
    font-weight: bold;

    padding-top: 0px;

    margin: 0px 10px 0px 20px;  /* top right bottom left */
}



.administracija-box-2items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 300px;
    background:  AliceBlue;
    padding-left: 10px;


    margin: 0px 20px 10px 80px;  /* top right bottom left */
    
}


.administracija-box-2items-items {
    box-sizing: border-box;
    flex-basis: calc(50% - 30px); 
    height: 150px;
    background:  AliceBlue;
    
    border-right: 1.5px solid rgb(230, 238, 245);
    border-left: 1.5px solid rgb(230, 238, 245);

   
    margin: 0px 0px 0px 0px;  /* top right bottom left */
  
}



.administracija-box-3-with_bottom {
    width: 100%;
    background:  AliceBlue;
    padding: 10px;

    margin: 0px 20px 0px 20px;  /* top right bottom left */
}

.administracija-box-3 {
    width: 100%;
    background:  AliceBlue;
    padding: 10px;

    margin: 0px 20px 0px 20px;  /* top right bottom left */
}


.administracija-box-3-PATIENTS-main {
    width: 100%;
    height: auto; 
    background:  AliceBlue;
    padding: 10px;
  
    border-bottom: 1.5px solid rgb(230, 238, 245);

    margin-right: 50px;
    margin-bottom: 20px; 
}



.administracija-box-3-PATIENTS {
    display: flex;
    align-items: left;
    width: 100%;
    background:  AliceBlue;
    padding: 10px;
     
    margin: 0px 20px 0px 20px;  /* top right bottom left */
}

.administracija-box-3-PATIENTS-plus {
    display: flex;
    align-items: left;
    width: 100%;
    background:  AliceBlue;
    padding: 10px;      

    margin: 0px 20px 0px 30px;  /* top right bottom left */
}

.administracija-box-3-PATIENTS-flex-container {
    display: flex;
    align-items: left;
    width: 100%;
    background:  AliceBlue;
    padding: 10px;

    margin: 0px 20px 0px 0px;  /* top right bottom left */ 
}



.administracija-box-4-PATIENTS {
    display: flex;
    align-items: left;
    width: 100%;
    background:  AliceBlue;

    padding: 0px 10px 0px 10px;  /* top right bottom left */
    margin: 0px 20px 0px 25px;  /* top right bottom left */
}



.administracija-signin-box-1 { 
    float: left;
    width: 100%;
    height: auto; /* only for demonstration, should be removed */
    background:  AliceBlue;
   
    margin: 0px 50px 20px 0px;  /* top right bottom left */

    /*border-bottom: 1.5px solid rgb(230, 238, 245);*/
       
}



.administracija-space {
    margin-bottom: 150px;
}


.administracija-employee-profile-box  {
    max-width: 100%;
    background-color: AliceBlue; 
 
    padding: 10px 10px 5px 10px;  /* top right bottom left */
    margin: 0px 0px 30px 0px;  /* top right bottom left */  
}


.administracija-employee-profile-box-container  {
    display: grid;
    grid-template-columns: 50% 50%; /* Two columns with widths of 60% and 40% */
    grid-gap: 10px; 
    max-width: 100%;
    background-color: AliceBlue; 
    
    padding: 0px; 
    margin: 0;  
}



.administracija-employee-profile-box-left  {
    grid-column: span 1;
    background-color: AliceBlue; 

    padding: 0px 0px 0px 0px;  /* top right bottom left */
    margin: 0px 0px 0px 0px;  /* top right bottom left */
}


.administracija-employee-profile-box-right  {
    grid-column: span 1;
    background-color: AliceBlue; 
   
    align-items: left;
    text-align: left;

    padding: 0px 0px 0px 0px;  /* top right bottom left */
    margin: 0px 0px 0px 0px;  /* top right bottom left */

}



















/*  ---------------------------            2. b) Supplementary containers's text content             -------------------------------  */

.administracija-box-1-product-infolist strong{
    margin-left: 20px;
    color: #3883b5;
}



.administracija-box-3-PATIENTS-main p {
    font-size: 1px;
    padding: 0px;
   
 }
 
 .administracija-box-3-PATIENTS-main h5 {
     font-size: 15px;
     color: rgb(77, 77, 82);
     padding: 0px;
    
 }
 
 .administracija-box-3-PATIENTS-main strong{   
     color:#3883b5;  
    
 }
 


 .administracija-signin-box-1 h1{ 
    color: rgb(73, 80, 83);
    font-size: 20px;
    font-weight: bold;
 

    margin: 30px 10px 30px 10px;  /* top right bottom left */
          
}

.administracija-signin-box-1 p{ 
    color: rgb(73, 80, 83);
    font-size: 20px;
    font-weight: bold;
    
    
    margin: 30px 10px 30px 10px;  /* top right bottom left */
          
}


.administracija-employee-profile-box h1 {
    color: rgb(73, 80, 83);
    font-size: 1.875rem;
    font-weight: bold;
    margin: 20px 10px 30px 20px;  /* top right bottom left */
}
  
.administracija-employee-profile-box h3 {
      color: rgb(73, 80, 83);
      font-size: 1.25rem;
      font-weight: bold;
      margin: 30px 10px 30px 10px;  /* top right bottom left */
}
  
  
.administracija-employee-profile-box p {
      color: rgb(73, 80, 83);
      margin: 0px 0px 0px 20px;  /* top right bottom left */

      

      
      
}



















/*  ---------------------------            2. c) Supplementary containers's other elements             -------------------------------  */




.administracija-box-3-PATIENTS-flex-container label{
     
    margin: 0px 10px 0px 0px;  /* top right bottom left */
    
}

.administracija-box-3-PATIENTS-flex-container input[type="text"]{
    margin-right: 10px;
}

.administracija-box-3-PATIENTS-flex-container option{
    height: 10px;
    padding-top: 0px;

    margin-right: 10px;
    
}


.administracija-signin-box-1 label{ 
    color: rgb(83, 90, 93);
    font-size: 17px;
    font-weight: bold;
   
    margin: 15px 10px 30px 20px;  /* top right bottom left */         
}




.administracija-employee-profile-box img {

    max-height: 200px;

    border-width: 4px;
    border-style: solid;
    border-color:white;

    margin: 100px 30% 30px 20px;  /* top right bottom left */
 
}
















  

