
  
  .kontaktai {
    margin: 0 ;
    padding-left: 0px;
  }
  
  .kontaktai h1 {
    max-width: 1200px;
    color: rgb(73, 80, 83);
    font-size: 1.875rem;
    font-weight: bold;
    margin-top: 50px;
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
   
  }

  @media (max-width: 800px) {
    .kontaktai h1{
      font-size: 1.6rem;
    }
  }




  .kontaktai h3 {
    padding-top: 30px;
    padding-bottom: 20px;

    color: rgb(73, 80, 83);
    font-size: 22px;
    font-weight: bold;
    
   
  }
  
  .kontaktai p {
    color: rgb(73, 80, 83);
    font-size: 15px;
    margin-top: 8px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
  }


  .kontaktai-box-container {
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 30px;
    
  }

  .text-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    grid-gap: 0px; /*  gap between the columns */
    max-width: 100%;
   
   

  }

  .text-info-2 {
    grid-column: span 1;
    max-width: 100%;
    padding-bottom: 40px;
    
   
  }

  @media (max-width: 1000px) {
    .text-info p{
      font-size: 0.95rem;
    }
  }

  @media (max-width: 1000px) {
    .text-info h3{
      font-size: 1.2rem;
    }
  }

  @media (max-width: 800px) {
    .text-info p{
      font-size: 0.9rem;
    }
  }

  @media (max-width: 800px) {
    .text-info h3{
      font-size: 1.1rem;
    }
  }

  @media (max-width: 700px) {
    .text-info p{
      font-size: 0.86rem;
    }
  }

  @media (max-width: 700px) {
    .text-info h3{
      font-size: 1.05rem;
    }
  }

  
  @media (max-width: 600px) {
    .text-info {
      grid-template-columns: 1fr; /* Display as single column, instead of 2 */
    }
  }


  .map {
    list-style: none;
    float: top;
    background-color: white;
    display: flex;
    width: 80%; 
    align-items: left;
    z-index: 999;
    padding-bottom: 10px;
    
  }

  .map img {
  height: 10%; 
  width: auto; 
  padding: 10px;
  }


  
  