/* ---------  Page  ------------ */


.primary {
  margin: 0 ;
  padding-left: 0px;
}



.header-zone {
  margin-top: 70px;
}



header {
  height: 60px;
  width: 100%;
  padding: 10px;
  text-align: left;
  align-items: left;
  position: fixed;
  background-color: AliceBlue; 
  z-index: 1000; /* Ensure the header appears above other elements */
}


 
/* ---------  Page Header  ------------ */

.upper-header {
  width: 100%;
  height: 61px;
  background-color: AliceBlue;
  display: flex;
  align-items: center;
}

.upper-header img {
  display: block;
  height: 100%; 
  width: auto; 
  padding: 10px;
 
}

.upper-header p {
  color: #3883b5;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 20px;
  flex: 1; 
 
}
  
  
  
  


/* ---------  Router List  ------------ */

  
.list {
  list-style: none;
  float: top;
  background-color: rgba(240, 248, 255, 0.9);
  display: flex;
  width: 100%; 
  margin: auto; 
  align-items: center;
  position: fixed; 
  top: 61px;
  z-index: 999;
  padding-bottom: 3px;
   
}
  
.item {
  flex: 1;
  padding: 10;
  text-align: center;
}

.link {
  flex: 1; 
  height: 50px;
  background-color: rgba(52, 152, 219, 0.9);
  color: white;
  padding: 5px ;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center; 
  justify-content: center; 
  margin-right: 10px;

  
}

.link:hover {
  background-color: #2980b9;
  
}


.link-login {  
  margin-right: 20px; 
  margin-left: 10px;
  height: 30px;


 
  border-color: rgba(169, 166, 163, 0.5);
  border-width: 1.3px;
  border-style: double;
  border-radius: 5px;
  
  color: rgb(146, 142, 139);
  font-size: 15px;
  padding-top: 3px ; 
  padding-bottom: 5px ; 
  padding-left: 10px ; 
  padding-right: 10px ; 
  text-decoration: none;
    
}

.bust-in-silhouette {
  color: rgb(157, 169, 173); 
}

.link-login:hover {
  color:  rgba(86, 94, 99, 0.9);
  background-color: rgba(230, 238, 245, 1);
}


.patientPage-box-1-button-b {   
  background-color: rgba(52, 152, 219, 0.9);
  border-color: rgba(62, 162, 229, 0.5);
  border-width: 1px;
  margin-top: 20;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
    
}





/* ---------  Layout content   ------------ */






.content-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 20% 80%; /* Two columns: 15% for left, 1fr for right */
  grid-gap: 0px; /* Adjust the gap between columns */
  margin: 0;
  
}

.content-container-left {
  width: 100%;
  height: auto;

  background-color: AliceBlue;
  padding: 20px; /* Adjust the padding as needed */
  margin: 0; /* Reset margin */
  margin-left: 0px;
}

.content-container-right {
  width: 100%;
  height: auto;
  
  background-color: white; /* Optionally set the background color for the right column */
  padding: 20px; /* Adjust the padding as needed */
}


.content-container-bottom {
  width: 100%;
  max-height: auto;
  background-color: AliceBlue;
 
  margin: 0; 
  bottom: 0;
  left: 0;
  right: 0;
  display:  flex;
}



.content-container-bottomleft {
  flex: 1;
  padding-left: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 20%;
  margin-bottom: 20px;
}
  


.content-container-bottomright {
  flex: 1;
  padding-left: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.content-container-bottomleft h5,
.content-container-bottomright h5 {  
  color: rgb(95, 103, 106);
  font-size: 16px;
  font-weight: bold;
  margin-top: 0; /* Reset margin */
  margin-bottom: 8px; /* Reset margin */

}

.content-container-bottomleft p,
.content-container-bottomright p {  
  color: rgb(95, 103, 106);
  font-size: 14px;
  margin-top: 2px; /* Reset margin */
  margin-bottom: 0; /* Reset margin */

}
    








