
.paslaugos {
    margin: 0 ;
    padding-left: 0px;
}

.paslaugos h1 {
  color: rgb(73, 80, 83);
  font-size: 1.875rem;
  font-weight: bold;
  margin: 50px 10px 30px 20px;  /* top right bottom left */ 
}



@media (max-width: 800px) {
    .paslaugos h1{
      font-size: 1.6rem;
    }
}



.paslaugos-box-container {
    max-width: 100%; 
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    grid-gap: 0px; /*  gap between the columns */
    margin: 0px 5px 0px 0px;
    flex-wrap: wrap;
    
}

@media (max-width: 1000px) {
    .paslaugos-box-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.paslaugos-box-container-item {
    max-width: 100%;
    grid-column: span 1;
    margin: 0px 15px 0px 0px;
    
}



.paslaugos-box-1-header {
    float: left;
    width: 100%;
    height: 50px; /* only for demonstration, should be removed */
    background:  AliceBlue;
    padding: 10px;
    margin-right: 20px;
}

@media (max-width: 900px) {
    .paslaugos-box-1-header {
        height: 42px;
    }
}

.paslaugos-box-1-header h3{
    color: rgb(77, 77, 82);
    font-size: 1.25rem;
    font-weight: bold;
}

@media (max-width: 900px) {
    .paslaugos-box-1-header h3{
        font-size: 1.1rem;  
    }
}

.paslaugos-box-1-content {
    float: left;
    width: 100%;
    min-height: 250px; /* only for demonstration, should be removed */
    background: rgba(240, 248, 255, 0.3);

    padding: 10px;
    
    border-bottom: 1.5px solid rgba(240, 248, 255, 0.4);
    border-width: 3px;

    margin: 0px 20px 20px 0px;
}

@media (max-width: 1000px) {
    .paslaugos-box-1-content {
      min-height: 50px;
      height: auto  ;
      padding-bottom: 20px;
    }
}

.paslaugos-box-1-content ul{ 
    color: rgb(73, 80, 83);
    font-size: 0.95rem;
    margin: 0px 10px 0px 20px;
}

.paslaugos-box-1-content p {   
    color: rgb(73, 80, 83);
    font-size:  0.95rem;
        
    margin: 15px 10px 0px 20px;
}

@media (max-width: 1200px) {
    .paslaugos-box-1-content ul,
    .paslaugos-box-1-content p {
        font-size: 0.92rem;  
    }
}

@media (max-width: 900px) {
    .paslaugos-box-1-content ul,
    .paslaugos-box-1-content p {
        font-size: 0.9rem;  
    }
}



 .paslaugos-box-3-header {
    float: left;
    width: 90%;
    height: auto;
    align-items: left;
    text-align: left;
    background-color: rgba(240, 248, 255, 0.8);
    
    padding: 15px 10px 0px 20px;

    margin: 20px 0px 0px 10px;
    
}

.paslaugos-box-3-header h3 {
    color: rgb(73, 80, 83);
    font-size: 25px;
    font-weight: bold;
    padding: 0px;

    margin: 10px 20px 25px 10px;
  }

.paslaugos-box-3-content {
    float: left;
    width: 90%;
    height: auto;
    background-color: rgba(240, 248, 255, 0.4);
    align-items: left;
    text-align: left;
    
    padding: 15px 10px 0px 20px;
          
    margin: 0px 0px 20px 10px;    
}

.paslaugos-box-3-content p {
    margin-top: 15px;
     
}



 .paslaugos-box-3-content h5 {
    color: rgb(73, 80, 83);
    font-size: 17px;
    margin: 15px 10px 0px 20px;   
  }
  

