.employee-list {
    margin: 0 ;
    padding-left: 0px;
    height: auto;
    width:70%; /*  32px for border and margin combined */
  
  }
  
  .employee-card:list {
    transform: translateY(-5px); /* pakelia kortelę kai pele užvedama ant jos */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* didesnis šešėlis pelei užvedus */
  }
  
  .employee-list img {
    width: 80%; /* vaizdas užpildo kortelės plotį */
    height: auto; /* vaizdo aukštis automatiškai pritaikomas */
    display: block; /* pašalina bet kokius tarpus po vaizdu */
    margin: 0 auto; /* Center the image horizontally */
  }
  
  .employee-list h3 {
    font-size: 1.2em; /* didesnis šrifto dydis produktų pavadinimams */
    margin: 0.5em; /* atstumas nuo kortelės kraštų */
    color: #333; /* tamsi teksto spalva */
  }
  
  .employee-list p {
    font-size: 0.8em; /* šrifto dydis kainai */
    padding-left: 2%;
    margin: 0.5em; /* atstumas nuo kortelės kraštų */
    color: #888; /* šviesesnė teksto spalva */
    font-weight: bold; /* pabrėžiama kaina */
  }

  
  .employee-list .btn {
    font-size: 0.8em; /* Adjust the font size for the button */
    font-weight: bold;
    height: 10%;
    padding: 3% 3% 3% 3%; /* Adjust padding for the button */
    margin-right: 2px; /* Add a 10px gap between buttons */
    margin-bottom: 2px;
    align-self: flex-end; /* Adjust the distance from the right*/
  }


  .patient-list-button-box {  
    display: flex; 
    margin-left: 10px;
    margin-bottom: 10px;
       
  }
   
 .patient-list-button-b {   
     flex: 1;
     background-color: rgba(52, 152, 219, 0.9);
     border-color: rgba(62, 162, 229, 0.5);
     border-width: 1px;
  
      
 }
 
 .patient-list-button-g {   
      flex: 1;
      background-color: rgba(187, 195, 201, 0.9);
      border-color: rgba(197, 205, 211, 0.5);
      border-width: 1px;
      margin-left: 10px;
       
  }





  
  